<script id="tmpl-SalesForceContacts" type="text/html">
    <div class="SalesForceContacts">
    	<table>
    	<tr>
    		<th>SF Contacts</th>
    		<th>Label</th>
    		<th></th>
    	</tr>
    		 {{#each contacts.result}}
    		 <tr data-id="{{id}}" data-label="{{label}}" data-name="{{name}}">
			     <td class="tcell">{{name}}</td>
			     <td class="tcell"><span class="labelText">{{label}}</span></td>
			     <td class="tcell">
			     	<button class="btn btn-primary deleteLabel{{#if label.length}} {{else}} hide{{/if}}">Delete Label</button>
			     	<button class="btn btn-primary addLabel {{#if label.length}} hide{{/if}}">Add Label</button>
			     </td>
     		</tr>
     		 {{/each}}
	    </table>
    </div>
</script>
